/* Import da fonte */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* Definindo o estilo padrão */
:root {
  /* Cores */
  --primaryColor: hsl(179, 100%, 26%);
  --hoverColor: hsl(178, 64%, 45%);
  --paleGreen: hsl(179, 100%, 86%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 75%);
  --bgcolor: hsl(113, 11%, 85%);
  --inputColor2: hsl(330, 12%, 97%);
  --inputColor: hsl(154, 14%, 90%);

  /* Tamanho das fontes */
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.5rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: .938rem;
  --smallFontSize: .813rem;
  --SmallestFontSize: .75rem;
}

/* Alinhamento */
.flex {
  display: flex;
  align-items: center;
}

.grid {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}

/* Reduz o tamanho padrão da fonte para elementos HTML em 90% */
html {
  font-size: 90%;
}

/* Remove a decoração de link para todos os elementos <a> */
a {
  text-decoration: none;
}

/* Remove marcadores de listas e itens de lista */
li {
  list-style: none;
}

/* Estiliza elementos com a classe "icon" */
.icon {
  /* Usa o tamanho de fonte definido pela variável --h2FontSize */
  font-size: var(--h2FontSize);
  /* Adiciona um cursor do tipo ponteiro para indicar interatividade */
  cursor: pointer;
}

/* Ajusta imagens e vídeos para ocupar 100% da largura do contêiner pai */
img, video {
  height: auto;
  width: 100%;
}

.btn {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: .8rem 5rem;
  color: var(--greyText);
}

.btn .icon {
  margin-left: .5rem;
}

.btn:hover {
  color: var(--primaryColor);
  background: var(--paleGreen);
}
